repos:
  - repo: https://github.com/some_org/some_repo
    rev: 1.0.0
    hooks:
      - id: some-hook
{%- if language == "scala" %}
  - repo: https://github.com/some_other_org/some_repo
    rev: v1.0.0
    hooks:
      - id: some-scala-hook
{%- endif %}
  - repo: https://github.com/a_third_org/some_repo
    rev: v1.0.0
    hooks:
      - id: some-hook
