jobs:
  infra-checks:
    with:
      data-product-name: {{ data_product_name_kebab_case }}
      domain: {{ domain }}{% if set_type_in_infra_checks %}
      type: data_product{% endif %}

  some-validation:
    uses: some-workflow.yml
    with:
      data-product-name: {{ data_product_name_kebab_case }}
      domain: {{ domain }}
      run-{% if language == "scala" %}scala{% else %}other{% endif %}: false

{%- if has_machine_learning %}

  machine-learning-validation:
    uses: some-ml-validation-workflow.yml
    with:
      data-product-name: {{ data_product_name_kebab_case }}
      domain: {{ domain }}
{%- endif -%}

{%- if has_flex %}

  flex-validation:
    uses: some-flex-validation-workflow.yml
    with:
      data-product-name: {{ data_product_name_kebab_case }}
      domain: {{ domain }}
{%- endif %}

  check-completion:
    needs:
      - infra-checks
      - some-validation
      {%- if has_machine_learning %}
      - machine-learning-validation
      {%- endif -%}
      {%- if has_flex %}
      - flex-validation
      {%- endif %}
