some-key:
  data-product: {{ data_product_name_kebab_case }}
  domain: {{ domain }}
  python-key: some-value
{%- if language == "scala" %}
  scala-only-key: some-value
{%- endif %}
{%- if has_machine_learning %}
  machine-learning:
    some-config: some-value
{%- endif %}
{%- if has_flex %}
  flex:
    some-config: some-value
{%- endif %}
{%- if set_type_in_infra_checks %}
  set-type-in-infra-checks: true
{%- endif %}
